
header{
    background-image: url("images/header.png");

}
main{
    background-image: url("images/fond.png");
}
header, main, footer{
    padding: 1rem;
}
.card{
    background-color: transparent;
    margin-top: 2rem;
    margin-bottom: 2.5rem;

}
.lastpara{
    background-image: url("images/footer.png");
    text-align: center;
}
footer{
    background-image: url("images/fond-article.png");
    text-align: center;
}
.main-image{
    background-color: white;
    padding: 1em;
}
h1{
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
}
nav{
       background-image: linear-gradient(#65bef8,#59a3e3,#518ed3);
       margin-bottom: 1rem;
      
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Abel', sans-serif;
}
.card-title{
    font-size: 1rem;
    font-weight: bolder;
}
.card-text{
    font-size: 0.9rem;
}
.btn{
    background-image: linear-gradient(#ff3d00,#ff0000);
    color: white;
    border: none;
    font-size: 0.8rem;
}
.btn:hover{
    background-image: linear-gradient(#ff0000,black);

}
.media{
    background-image: url("images/fond-article.png");
    margin-bottom: 3rem;
}
.media-body{
    font-size: 0.9rem;
}
.media-body h5{
    font-size: 1rem;
    font-weight: bolder;
}
header{
    padding: 2rem;
    
}
.card-title2{
    font-size: 1rem;
    font-weight: bolder;
    
}
hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    
}
.sidebars{
    font-size: 0.9rem;
}
.pict{
    padding-bottom: 5px;
}
blockquote{
    background-image: url("images/fond.png");
    padding: 2rem;
}
blockquote p{
    font-size: 0.9rem;

}
.blockquote-footer{
    background-image: url("images/fond.png");
}

.fonts{
    font-size: 0.8rem;
}
.myContainer{
    max-width: 1140px;
    margin: auto;
}
.sidebars ul li{
    list-style: circle;
}
.tright{
    text-align: left;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .sidebars{
        display: flex;
        justify-content: space-around;
    }
    .sidebar123{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}